*,li, ul, div, main, section, article, nav, header, img, footer{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
.wallpaper{
    position: absolute;
    z-index: -10;
    height: 100%;
    width: 100%;
    background: url(../img/daniel-olah-tVMOgzEVBi0-unsplash.jpg) no-repeat center center fixed;
    /* Foto de <a href="https://unsplash.com/@danesduet?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniel Olah</a> en <a href="https://unsplash.com/es/images/stock/4k?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/ 
    background-size: cover;
    transform: rotateY(180deg);
}
.indexHeader{
    a{
        &:hover{
            color: white;
        }
        text-decoration: none;
        color: white;
    }
    h1{
        font-family: 'Cinzel Decorative', cursive;
        font-size: 54px;
        padding-top: 60px;
        text-align: center;
        color: white;
        text-shadow: 2px 2px black;
    }
    nav{
        ul{
            padding-top: 30vh;
            li{
                padding-left: 50px;
                list-style: none;
                text-shadow: 2px 2px black;
                font-size: 32px;
                margin-bottom: 20px;
                div{
                    display:inline-block;
                    transition: font-size 0.5s;
                    border-radius: 4px;
                    padding-left: 25px;
                    &:hover{
                        color: white;
                        padding-left: 30px;
                        padding-right: 25px;
                        font-size: 50px;
                        background: rgb(255,255,255);
                        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.644) 60%);
                    }
                }
            }
        }
    }
}
.absoluteFooter{
    position: absolute;
}
.blockFooter{
    position: block;
}
footer {
    background-color: #252525;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    min-height: 30px;
    padding-top: 3px;
}
footer li{
    display: inline-block;
    margin: 0px 20px;
}
@media screen and (min-height: 800px) {
    .indexFooter{
        position: absolute
    }
}
